
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: 0;
    border: none;
}

.header{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    margin-top: 2rem;
} 
.logo{
    color: #ffff;
    cursor: default;   
}
.logo img{
    width: 5%;
    justify-content: center;
    align-items: center;
    margin: 3px 47%;
}

.navbar a{
    font-size: 1.1rem;
    color: var(--text-color);
    margin-right: 2rem;
   
    transition: .4s ;
    text-decoration: none;
    transition: .4s ease;
}
.navbar a:hover{
    color:rgba(120, 117, 115, 0.662);
    transform: scale(1.2);
   
}

.home-img{
    margin: 10rem 21rem;
}
.content-text h2{
   text-align: center;
}
.content-text h2{
    letter-spacing: 3.4px;
    padding: 10px 10px;
    
}
.about{
    margin: 10rem;
}
.heading {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.heading-2 {
    margin: 5rem;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}
.info{
    margin: 20rem;
   
   
}
.info-info p{
    margin-top: 20px;
    text-align: center;
}
.heading-2{
    margin-top: 7rem;
}
.result{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.result .result-box{
    flex: 1 1 30rem;
    padding: 0 4rem;
    text-align: center;
    background-color: rgba(231, 232, 232, 0.672);
}
.result-box h4{
    padding-bottom: 10px;
}

.about-container-2{
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    
}
.about-container-2 .about-box-2{
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    text-align: center;
    background-color: rgba(231, 232, 232, 0.672);
}
.about-box-2 h4{
    margin: 10px;
    font-size: 1.5rem;
}
.about-box-2 p{
    font-size: 1.4rem;
}
.about-container{
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3.5rem;
}
.about-container .about-box{
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    text-align: center;
    background-color: rgba(231, 232, 232, 0.672);
    border-radius: 0 20% 0 20%;
}
.about-box h4{
    margin: 5px;
    letter-spacing: 2.4px;
}
.about-box-2 h4{
    margin: 5px;
    letter-spacing: 2.4px;
}
.about-box p{
    text-align: center;
}
.owner{
    margin-bottom: 10rem;
}
.owner-img h2 {
    text-align: center;
}
.owner-img p{
    text-align: center;
}
.owner-img img{
    margin: 10px 40%;
}
.peta{
    margin: 40px 10rem ;
}
.daftar{
    display:flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.daftar-img{
    margin-top: 5rem;
}
.daftar-content{
    margin-top: 15rem;
}
.daftar-content h3{
    font-size: 2.6rem;
    text-align: left;
}
.daftar-content p{
    margin: 10px;
    font-size: 1.2rem;
    text-align: left;
}
.btn{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 2rem;
    background: rgb(0, 174, 249);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    color: white;
    letter-spacing: .1rem;
    transition: .4s ease;
    align-items: left;
}
.btn:hover{
    letter-spacing: .5rem;
}
.contact{
    margin-top: 10rem;
}
.contact-container{
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 6fr);
    align-items: center;
    gap: 2.5rem;
}
.contact-container .contact-box{
    flex: 1 1 30rem;
    padding: 3rem 2rem 4rem;
    text-align: center;
    background-color: rgba(231, 232, 232, 0.672);
    
}


.contact-box h4{
    margin: 5px;
    letter-spacing: 2.4px;
}
.contact-box p{
    margin: 2px;
    text-align: center;
    color: rgb(83, 212, 240);
}
.footer{
    background-color: rgb(35, 98, 208);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 9%;
    flex-wrap: wrap;
}
.footer-text p{
    padding: 10px;
    
}
/* RESPONSIVE */
@media(max-width:1200px){
    html{
        font-size: 15%;
    }
    
    .header{
        margin: 15px;
    }
    .navbar a{
        font-size: 25%;
    }
    .heading{
        font-size: 10rem;
    }
    .heading-2{
        font-size: 10rem;
    }
    
    .content-text h2{
        font-size: 10rem;
    }
    
    
}
@media(max-width:991px){
    section{
        padding: 10rem 3%;
    }
    .navbar a{
        font-size: 100%;
    }
    .home-img{
        width: 90%;
        height: auto;
        margin:auto;
    }
    .logo img{
        width: 15%;
        margin-right: 10px;
    }
    .home-img img{
        width: 100%;
        height: auto;
        margin:0 10px 0 10px;
        padding: 0 3rem;
    }
    .heading h2{
        font-size: 100%;
    }
    .heading-2 h2{
        font-size: 100%;
        margin: 2px;
    }
    .about-container{
        padding: 10px;
    }
    .result{
        padding-right:  30px;
    }
    iframe{
        width: 100%;
        margin-right: 20%;
    }
    .daftar-content{
        padding: 6px;
    }
    .daftar-img img{
        width: 50%;
        height: auto;
    }
    .daftar-content h3{
        font-size: 14rem;
       

    }
    .daftar-content p{
        font-size: 4rem;

    }
    .daftar-content a{
        font-size: 4rem;

    }
    .btn{
        width: 30%;
    }
}
@media(max-width:768px){
    .navbar a{
        font-size: 25%;
    }
    .home-img{
        width: 90%;
        height: auto;
       
    }
    .home-img img{
        width: 100%;
        height: auto;
        
    }
    .info-info p{
        font-size: 5rem;
    }
    .about-box p{
        font-size: 5rem;
    }
    .about-box-2 p{
        font-size: 5rem;
    }
    .about-box-2 h4{
        font-size: 4rem;
    }
    .content-text i{
        font-size: 50%;
    }
    .daftar{
        flex-direction: column;
    }
    .daftar-content p{
        font-size: 4rem;

    }
    iframe{
        width: 100%;
        margin-right: 25%;
        padding-right: 5px;
    }
}
@media (max-width: 617px){
    .home-img{
        margin-right: 10px;
    }
    .logo{
        margin: auto;
    }
    .info{
        font-size: 50%;
    }
    .content-text i{
        margin-top: 15px;
    }
    .owner-img{
        margin-bottom: 10rem;
    }
    .peta{
        margin: auto;
    }
}
@media (max-width: 450px){
    .about-container{
        grid-template-columns:repeat(1,1fr) ;
    }
    .result{
        grid-template-columns:repeat(1,1fr) ;
    }
    .contact-container{
        grid-template-columns:repeat(1,10fr) ;
    }
}